@page "/inventoryTransactions"
@using IMS.CoreBusiness.Enums

@inherits InventoryTransactionsBase

<PageTitle>Inventory Transactions</PageTitle>

<h3>Inventory Transactions List</h3>

<div class="row pt-2">
    <div class="col">
        <label for="inventory-name">Name</label>
        <input id="inventory-name" type="text" class="form-control" @bind-value="InventoryName" />
    </div>
    <div class="col">
        <label for="date-from">Date From</label>
        <input id="date-from" type="date" class="form-control" @bind-value="DateFrom" />
    </div>
    <div class="col">
        <label for="date-to">Date To</label>
        <input id="date-to" type="date" class="form-control" @bind-value="DateTo" />
    </div>
    <div class="col">
        <label for="activity">Activity Type</label>
        <select id="activity" class="form-control" @bind="ActivityTypeId" >
            <option value="-1" disabled>--Select Activity--</option>
            <option value="1">Purchase Inventory</option>
            <option value="2" >Produce Inventory</option>
        </select>
    </div>
    <div class="col">
        <label for="button">&nbsp;</label>
        <button type="button" 
                id="button" 
                class="btn btn-primary form-control" 
                @onclick="async () => await SearchInventoriesAsync()">
            Search
        </button>
    </div>
    <div class="col">
        <label for="button">&nbsp;</label>
        <button type="button"
                id="button"
                class="btn btn-primary form-control"
                @onclick="async () => await PrintInventoriesAsync()">
            Print
        </button>
    </div>
</div>

<div id="print-area" class="pt-4">
    @if (InventoryTransactions == null || InventoryTransactions.Count() <= 0)
    {
        <ItemsNotFoundComponent />
    }
    else
    {
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Inventory</th>
                    <th scope="col">Activity</th>
                    <th scope="col">Qty Before</th>
                    <th scope="col">Qty After</th>
                    <th scope="col">Purchase #</th>
                    <th scope="col">Production #</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in InventoryTransactions)
                {
                    <tr>
                        <td>@item.TransactionDate.ToString("MM/dd/yyyyy")</td>
                        <td>@item.Inventory.Name</td>
                        <td>@if(item.ActivityType == InventoryTransactionType.PurchaseInventory)
                            {
                                <text>Purchase</text>
                            }
                            else if (item.ActivityType == InventoryTransactionType.ProduceProduct)
                            {
                                <text>Produce</text>
                            }
                        </td>
                        <td>@item.QuantityBefore</td>
                        <td>@item.QuantityAfter</td>
                        <td>@item.PurchaseNumber</td>
                        <td>@item.ProductionNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>